.events-container ul {
  list-style-type: none;
  padding: 0;
}

.events-container li {
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  margin-bottom: 2rem;
  padding: 1rem;
  border: 1px solid var(--pico-border-color);
  border-radius: var(--pico-border-radius);
  background-color: var(--pico-background-color);
  box-shadow: 4px 3px 6px lightgray;
  transition: box-shadow 0.3s ease;
}

.events-container li:hover,
.events-container li:focus {
  box-shadow: 9px 6px 12px lightgray;
}

.events-container figure {
  margin: 0;
}

.events-container img {
  width: 100%;
  height: auto;
  border-radius: var(--pico-border-radius);
}

.events-container figcaption {
  margin-top: 0.5rem;
  font-style: italic;
  color: var(--pico-muted-color);
}

.events-container .fab {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 56px;
  height: 56px;
  background-color: #4eb233;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.events-container .fab::after {
  content: "+";
  font-size: 50px;
  line-height: 1;
  display: block;
  transform: translateY(-5px);
}

.events-container .fab:hover {
  background-color: #42992a;
  transform: scale(1.1);

}
@media (max-width: 768px) {
  .events-container li {
    grid-template-columns: 1fr;
  }

  .events-container figure {
    order: -1; /* Move figure to the top */
  }
}

.search-container {
  position: relative;
}
.search-spinner {
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-100%);
  width: 20px;
  height: 20px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-top-color: #007bff;
  border-radius: 50%;
  display: none;
}
.search-spinner.htmx-request {
  display: block;
}
@keyframes spin {
  to { transform: translateY(-50%) rotate(360deg); }
}

dialog {
  --pico-form-element-spacing-vertical: 0.25rem; /* Override for dialog */
  max-width: 90%;
  padding: 1rem;
}

dialog article {
  padding: 1rem;
}

dialog h2 {
  margin-top: 0;
}

dialog form {
  display: flex;
  flex-direction: column;
}

dialog form label {
  margin-bottom: 0.25rem;
}

dialog form input,
dialog form textarea,
dialog form button {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
}

dialog form button {
  padding: 0.5rem;
}

dialog .close {
  background-size: 2rem!important;
  padding: 1.5rem;
}